.broder-radius-8px {
  border-radius: 8px !important;
}

.btn-grey-near-bg-color {
  background-color: #787a7b !important;
  border: #787a7b !important;
}

ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}

/* .s-section h2.text-blue2 {
    color: #209dd4 !important;
  } */

.btn-stu {
  display: inline-block;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0px;
  height: 3.5rem;
  line-height: 0rem;
  /* padding: 0 3rem; */
  /* margin: 0 0.3rem 1.2rem 0; */
  color: #000000;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #c5c5c5;
  /* border: 0.2rem solid #c5c5c5; */
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-bottom {
  margin: 0;
  position: absolute;
  top: 80%;
  -ms-transform: translateY(-80%);
  transform: translateY(-80%);
}

.reg-training-btn {
  background-color: #0086ca;
  border-color: #0086ca;
  color: white;
}

.reg-training-btn:hover {
  background-color: #007dbc;
  border-color: #0086ca;
  color: white;
}

.py-8rem {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.pt-8rem {
  padding-top: 8rem;
}

.pb-8rem {
  padding-bottom: 8rem;
}

.colorBgBk {
  background-color: #000 !important;
  border: #000;
}

.text-black {
  color: #000 !important;
}

.pageAnchorColor {
  color: #0286ca !important;
}

.textBlack {
  color: #000 !important;
}

.bold {
  font-weight: bold;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.left {
  text-align: left !important;
}

.fs-14 {
  font-size: 14px !important;
}

.mb-48 {
  margin-bottom: 48px !important;
}

.right-sm-centre {
  text-align: right;
}

.left-sm-centre {
  text-align: left;
}

.left-1080 {
  text-align: left;
}

.colorBgGrey {
  border-color: #a7a7ad !important;
  background-color: #a7a7ad !important;
}

.colorBk {
  color: #000 !important;
}

.w100 {
  width: 100%;
}

.centre {
  text-align: center;
}

.colorWt {
  color: #fff !important;
}

.s-section h2 {
  margin-bottom: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px !important;
  color: #209dd4 !important;
  line-height: 44px;
  display: flex;
  align-items: center;
}

.regBorder {
  padding: 6px 12px 6px;
  border: solid 1px white;
}

.regBorder2 {
  padding: 6px 12px 6px;
  border: solid 1px #0286ca;
  background: #0286ca;
  color: #fff;
}

.colorWt2 {
  color: #fff !important;
}

.colorWt2:hover {
  color: #0286ca !important;
}

.home-content__button {
  position: initial;
}

.s-home::before {
  background: linear-gradient(180deg, #666666 0%, rgba(153, 153, 153, 0) 100%);
}

.s-homeHeaderTextColor {
  color: white !important;
  font-weight: bold;
  font-size: 72px !important;
  line-height: 88px;
  margin-bottom: 24px !important;
  /* display: flex; */
  align-items: center;
  text-align: center;
}

.s-homeTextColor {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold !important;
  font-size: 28px;
  line-height: 49px;
  /* identical to box height */
  width: 100%;
  /* display: flex; */
  align-items: center !important;
  text-align: center !important;
  color: #ffffff !important;
}

.photoTitle {
  margin-bottom: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  display: flex;
  color: #000 !important;
  align-items: center;
}

.photoDesc {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #000000 !important;
}

.landingSectionCentre {
  text-align: center;
}

.photoWithTextSector {
  padding: 14px;
}

.aboveFooterBtn {
  margin-top: 20px;
  margin-bottom: 160px;
}

.fs18f {
  text-align: center;
  font-size: 18px !important;
}

.fs18 {
  font-size: 18px !important;
}

.topSection {
  margin-top: 100px;
}

.headerBlueText {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #0286ca;
}

.headerBlueText2 {
  margin-top: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  text-align: center;

  color: #0286ca;
}

.headerBlueText3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 29px;
  /* identical to box height */
  text-align: center;

  color: #0286ca;
}

.mb-7 {
  margin-bottom: 70px;
}

.paddingAdjustedFooter {
  padding-bottom: 36px;
  padding-top: 36px;
  background-color: #292929
}

.footerHeaderText {
  color: #fff;
  font-size: 18px;
}

.footerParaText {
  color: #fff;
  font-size: 14px;
}

/* how to join */
.ballSize {
  width: 100px;
  height: 100px;
}

.ballSize2 {
  position: relative;
  width: 157px;
  height: 157px;
  border-radius: 15rem !important;
}

.inSizeBall1 {
  position: absolute;
  top: 23%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.w-80 {
  width: 80%;
}

.inSizeBallText1 {
  color: white;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
}

.inSizeBall2 {
  position: absolute;
  top: 28%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.inSizeBallText {
  color: white;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
}

.item-title {
  font-size: 18px !important;
}

.icon .time-line {
  height: 1px;
  width: 40%;
  position: absolute;
  background: lightgrey;
  top: 50px;
  right: -40px;
}

.timeline {
  text-align: center;
}

.icon.timeline h4 {
  height: fit-content;
  margin-bottom: 0px;
}

.paraTextLineHeight {
  line-height: 22px;
  height: 66px;
  margin-bottom: 0px;
}

/* color */

.gold {
  background-color: #d6af36;
}

.silver {
  background-color: #a7a7ad;
}

.bronze {
  background-color: #a77044;
}

/* end of color */

/* pj idea */
.pjIdeaSection {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.pjPara {
  margin-bottom: 0px;
  color: #000000;
}

.pjHeader {
  margin-bottom: 30px;
}

.aboveFooterBtn {
  margin-top: 20px;
  margin-bottom: 160px;
}

.toolsImg {
  width: 150px;
  height: 150px;
}

.peTitle {
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.peDesc {
  /* font-weight: bold; */
  font-size: 14px;
  line-height: 22px;

  width: 100%;
  text-align: center;
}

.peImgFrame {
  width: 100%;
  text-align: center;
}

.pePadding0 {
  padding: 0px;
}

.p-50 {
  padding-left: 50px;
  padding-right: 50px;
}

/*  get started */
.btn0 {
  margin-top: 17%;
}

.btnStyle {
  font-size: 14px !important;
  width: 100%;
}

.h100 {
  height: 75px !important;
}

.btnBk {
  background-color: #000;
}

.justify {
  text-align: justify;
}

.getStartImg {
  width: 50px;
  height: 50px;
}

.padding-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.bgBlack {
  background-color: #000;
}

.fs-36 {
  font-size: 36px !important;
}

.fs24 {
  font-size: 24px;
}

.timeLineContainer {
  margin: 0 15%;
}

.h6-spec {
  text-transform: none;
  letter-spacing: 0;
}

.indexBlueActionBtn {
  /* position: absolute;
  right: -25px;
  bottom: -28px; */
  margin-top: 12px;
  /* text-align: center; */
  border-radius: 8px;
  font-size: 20px;
  padding: 18px 32px;
  font-weight: normal;
  text-transform: capitalize;
}

/* contact */
.circleImg {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.posWithLeftBox2 {
  position: absolute;
  left: 140%;
  top: 70%;
}

.enroll {
  background-color: #f9c32d;
  color: #000;
  cursor: pointer;
  font-weight: 700;
/*  z-index: 999;
*/  width: 150px;
  border-radius: 4px;
  padding: 8px 42px;
}

.enroll:hover {
  background-color: #000;
  color: #f9c32d;
  font-weight: 700;
  width: 150px;
  border-radius: 4px;
  padding: 8px 42px;
}

.posWithLeftBox {
  position: absolute;
  left: 140%;
  top: 80%;
}

.fs14 {
  font-size: 14px !important;
}

.name {
  font-size: 24px;
}

.position {
  font-size: 18px;
}

.icon .time-line49 {
  height: 1px;
  width: 45%;
  position: absolute;
  background: lightgrey;
  top: 16px;
  right: -20%;
}

.pr-8 {
  padding-right: 8px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mt-5-1080 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.right {
  text-align: right !important;
}

.sponsorImg {
  width: 300px;
  height: 100%;
}

.s-section h2.blueText {
  color: #0286ca !important;
}

.blueBg {
  color: #fff;
  border-color: #0286ca !important;
  background-color: #0286ca !important;
}

.blueBg:focus {
  color: #fff;
}

.blueBg:hover {
  color: #fff;
  border-color: #007ab7 !important;
  background-color: #007ab7 !important;
}

.newblack {
  color: #2e2e2e !important;
}

.black1 {
  color: #5c5c5c !important;
  font-size: 1.5rem;
}

ol,
.sec-unvi ul {
  margin-left: 3.7rem;
}

.w-55 {
  width: 55%;
}

/* .prizesImgTemp {
    max-width: 150px;
    min-height: 100px;
    height: auto;
  } */

@media only screen and (max-width: 600px) {
  .s-section {
    padding-top: 0px !important;
  }
}

@media only screen and (max-width: 800px) {
  .timeline .time-line49 {
    display: none;
  }

  .indexBlueActionBtn {
    /* position: absolute; */
    right: -18px;
    bottom: -20px;
    border-radius: 8px;
    font-size: 18px;
    padding: 18px 30px;
  }
}

@media only screen and (min-width: 1000px) {
  .mediaCol-md-6 {
    -webkit-box-flex: 0;
    flex: 0 0 46% !important;
    max-width: 30% !important;
  }
}

@media only screen and (min-width: 1200px) {
  .getStartRow {
    margin-top: 65px !important;
    margin-left: 25px !important;
    margin-right: 0px !important;
  }
}

@media only screen and (max-width: 1200px) {
  .col-b-12-1200 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .btn0 {
    margin-top: 0%;
  }
}

@media only screen and (min-width: 1080px) {
  .d-block-smaller-1080 {
    display: none !important;
  }

  .d-block-bigger-1080 {
    display: block !important;
  }
}

@media only screen and (max-width: 1080px) {
  .d-block-bigger-1080 {
    display: none !important;
  }

  .d-block-smaller-1080 {
    display: block !important;
  }

  .col-12-1080 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 24px !important;

    /* display: none !important; */
  }

  .left-1080 {
    text-align: center !important;
  }

  .mt-5-1080 {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .col-b-12 {
    width: 100% !important;
  }
}

@media only screen and (max-width: 870px) {
  .item-title .icon h4 {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 767px) {
  .d-768-none {
    display: block !important;
  }
}

@media only screen and (max-width: 768px) {
  .containerPd20 {
    margin: auto;
    /* width: 300px; */
    text-align: center !important;
  }

  .right-sm-centre {
    text-align: center !important;
  }

  .sm-centre {
    text-align: center !important;
  }

  .left-sm-centre {
    text-align: center !important;
  }

  .s-homeHeaderTextColor {
    font-size: 4rem !important;
  }

  .photoDesc {
    font-size: 14px;
  }

  .media12Btn {
    width: 100%;
  }

  .mediaMarginFooter {
    margin-top: 28px;
  }

  .media768FooterImg {
    width: 28px;
  }

  .fs18 {
    font-size: 16px !important;
  }

  .mediaPE_MarFix {
    margin-top: 30px;
  }

  .peFs {
    font-size: 14px;
  }

  .mediaResourceImg {
    text-align: center;
  }

  .mediaResourceText {
    margin-top: 12px;
    text-align: center;
  }

  .getStartRow {
    margin-top: 0px;
    margin-left: 0px;
  }

  .contactPerson {
    text-align: center;
  }

  .mediaMt-5 {
    margin-top: 30px;
  }

  .name {
    font-size: 24px;
  }

  .position {
    font-size: 18px;
  }

  .mediaCol-768-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .col-992-12 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 36px !important;
  }
}

@media only screen and (max-width: 900px) {
  .fs18-900 {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 850px) {
  .inSizeBall1_sp1 {
    position: absolute;
    top: 19%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .inSizeBall2_sp2 {
    position: absolute;
    top: 23% !important;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 700px) {
  .media768FooterImg {
    width: 18px;
  }

  .mediaToolsPhoto12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .headerBlueText3 {
    margin-top: 50px !important;
  }
}

@media only screen and (max-width: 600px) {
  /* .header-logo {
    top: 20%;
  } */

  .w-55 {
    width: 100%;
  }
}
@media only screen and (max-width: 550px) {
  .headerBlueText2 {
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .s-section h2 {
    font-size: 3rem !important;
  }
}
@media only screen and (min-width: 768px) {
  .toolsImgMedia1 {
    padding: 0px;
    flex: 0 0 16.666667% !important;
    max-width: 6% !important;
  }

  .d-768-block {
    display: block !important;
  }

  .d-768-none {
    display: none !important;
  }
}

@media only screen and (max-width: 414px) {
  .fs18f {
    text-align: center;
    font-size: 9px !important;
    padding: 0;
  }

  .fs18-900 {
    text-align: center;
    font-size: 8px !important;
    padding: 0 4px 0;
  }

  .padding-5 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .btnFixfs {
    font-size: 12px !important;
  }
}

/* ----------------------------------------------- */

.ss-track-header-text-small {
  font: normal normal medium 22px/27px Montserrat;
  text-align: center;
  letter-spacing: 0px;
  color: #0086ca !important;
}

.ss-track-header-text {
  font: normal normal bold 40px/49px Montserrat;
  margin-top: -7px;
  text-align: center;
  letter-spacing: 0px;
  color: #0086ca !important;
}

.ss-header-spacing {
  margin-top: 150px;
  margin-bottom: 150px;
}

.ss-mid-hline {
  height: 2px;
  width: 135px;
  background-color: #e3e3e3;
  margin: 0 auto;
  margin-top: -30px;
}

.s-section h2.ss-track-content-title {
  text-align: left;
  font: normal normal bold 42px/52px Montserrat !important;
  letter-spacing: 0px;
  color: #0086ca !important;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.s-section .ss-track-content-text {
  text-align: left;
  font: normal normal normal 20px/35px Nunito Sans;
  letter-spacing: 0px;
  color: #313131 !important;
}

.ss-register-btn {
  border-radius: 10px !important;
  color: white;
  background-color: #1484cc;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 500;
  border: 0;
  text-transform: capitalize;
}

.btn.ss-register-btn:hover {
  color: white;
  background-color: #1484cc;
}

.s-section h2.ss-card-title {
  font-size: 36px !important;
  line-height: 44px !important;
  font-family: Montserrat !important;
  text-align: left;
  color: black !important;
}

.ss-card-text {
  font: normal normal normal 18px/30px Nunito Sans !important;
  text-align: left;
  color: black;
}

@media only screen and (max-width: 768px) {
  .s-section h2.ss-track-content-title {
    font: normal normal bold 36px/42px Montserrat !important;
  }

  .s-section .ss-track-content-text {
    font: normal normal normal 17px/30px Nunito Sans;
  }

  .ss-track-header-text {
    font: normal normal bold 32px/40px Montserrat;
  }

  .ss-header-spacing {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1201px) {
  .dropdown .dropbtn.desktop-nav-link {
    font-size: 12px;
  }

  .nav_list .NavLinkComponent.desktop-nav-link {
    font-size: 12px;
  }

  .nav_list .NavLinkComponent.desktop-nav-link-active {
    font-size: 12px;
  }

  .desktop-nav .nav_list li {
    margin-right: 14px !important;
  }
}

@media only screen and (min-width: 1500px) {
  .dropdown .dropbtn.desktop-nav-link {
    font-size: 15px;
  }

  .nav_list .NavLinkComponent.desktop-nav-link {
    font-size: 15px;
  }

  .nav_list .NavLinkComponent.desktop-nav-link-active {
    font-size: 15px;
  }

  .desktop-nav .nav_list li {
    margin-right: 22px !important;
  }
}

/* ----------------------------------------------- */
