/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*/
.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #f7f7f7;
}


/* Add indicator arrow for the active tab */
@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}


.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}
  
  // Usage
  .custom-container {
    @include make-container();
  }





  